// Imports
@import 'src/sass/styles.scss';


// Sign In
.sign-in-wrapper {
    display: grid;
    height: 100%;
    @include animate($a-fade-in);
        @keyframes fade-in {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        
        ul {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-self: center;
            padding: 1rem;
            
            div {
                text-align: center;

                h3 {
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 1.5;

                    span {
                        color: $primary-green;
                    }
                }

            }

            a {
                width: inherit;
                background: $white;
                padding: 0.8rem 2rem;
                margin: 0.5rem 0;
                border-radius: 3px;
                border: $border;

                i {
                    margin-right: 1rem;
                }
            }

            a:hover {
                border-color: $light-green;
            }
        
            a:last-child {
                border: none;
                margin-top: 1rem;
                padding: 0;
                font-size: 0.8rem;
                color: $primary-green;
                text-align: center
            }
    }
}