// Imports

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'variables.scss';
@import 'mixins.scss';


// reset.scss

html,
body,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}    

li {
    list-style: none;
}    

a {
    text-decoration: none;
    color: #333;
}

a,
input,
textarea,
button {
    @include transition($fade-in);
}

textarea {
    font-family: $font-stack;
}


// Styles
html,
body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    color: $primary-color;
    font-size: $size;
    background: $white;
}

::selection {
    background: $sec-green;
    color: $white;
}
