// Variables
$font-stack: 'Arial', 'Open Sans', sans-serif;
$size: 1rem;
$primary-color: #424242;
$white: #FFF;
$light-grey: #FAFAFA;
$medium-grey: #EEE;
$primary-green: #00C853;
$sec-green: #64DD17;
$light-green: rgb(150, 233, 178);
$border: 1px solid $medium-grey;
// $shadow-color: #8BC34A;
// $before-shadow: 0px 1px 2px 0.5px $shadow-color;
// $after-shadow: 0px 1px 10px 1px $shadow-color;
$effect: pop 0.3s linear;
$full-width: 100%;
$fade-in: 0.2s ease-in-out;

