// Variables
$font-stack: 'Arial', 'Open Sans', sans-serif;
$size: 1rem;

$primary-color: #424242;
$white: #FFF;
$light-grey: #FAFAFA;
$medium-grey: #EEE;
$primary-green: #00C853;
$sec-green: #64DD17;
$light-green: rgb(150, 233, 178);

$border: 1px solid $medium-grey;

$effect: pop 0.3s linear;
$a-fade-in: fade-in 0.3s linear;

$full-width: 100%;
$fade-in: 0.2s ease-in-out;

