// Import
@import 'src/sass/styles.scss';


// Grid
.grid-wrapper {
    -webkit-columns: 250px;
    columns: 250px;
    -webkit-column-gap: 1rem;
    padding: 5rem 0 5rem;
    margin: 0 3rem;
}

.grid-wrapper {
    .post-wrapper {
        position: relative;
        display: inline-block;
        background: $white;
        padding: 3rem;
        margin: 0.5rem 0;
        border: $border;
        @include transition($fade-in);
        @include break-inside(avoid);
        @include animate($effect);
            @keyframes pop {
                0% { opacity: 0; transform: translateY(50px); }
                100% { opacity: 1; transform: translateY(0px); }
            }

            .post-brief {
                margin: 1rem 0;
            }

            
            i {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                cursor: pointer;
            }

                // Original Poster Display
                .op-display {
                    display: flex;
                    position: absolute;
                    top: 1rem;
                    left: 1rem;

                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 1rem;
                        border-radius: 50%;
                    }
                }
        }

        .post-wrapper:hover {
            background: $light-grey;
            border-color: $white;
        }
    }


    


