<div class="sign-up-wrapper">
    
    <ul>
      <div>
        <h3>Join the other <span>thinkers</span>.</h3>
      </div>
  
      <a href="">
        <i class="fa fa-google"></i> Sign up with Google
      </a>
  
      <a href="">
        <i class="fa fa-facebook"></i> Sign up with Facebook
      </a>
  
      <a href="">
        <i class="fa fa-twitter"></i> Sign up with Twitter
      </a>
  
      <a href="">
        <i class="fa fa-envelope"></i> Sign up with email
      </a>
  
      <a routerLink="/sign-in">Already have an account?</a>
    </ul>
  
  </div>